body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(https://64.media.tumblr.com/19233fe438c5b3af299c7da30afaf506/tumblr_pb970n17FA1wyjoceo1_1280.png);
}

.animated-text {
    font-size: 6rem;
    animation: desplazamiento 3s linear infinite;
}

h1:hover{
    color: rgb(80, 245, 3);
}

@keyframes desplazamiento {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}