body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #050505;
}

.caja {
    width: 100px;
    height: 100px;
    background-color: #FF00FF;
    animation: cambiaColor 2s infinite alternate;
}

@keyframes cambiaColor {
    0% {
        background-color: #00FFFF;
    }
    100% {
        background-color: #FFFF00;
    }
}